.box{
    background-image: url("https://i.imgur.com/el7Jmht.jpg");
    background-size: cover;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
}
body{
    background-image: url("https://i.imgur.com/BR38c4U.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
.btnbox{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 400px;
    justify-content: flex-end;
    align-content: flex-end;
}
button.btn{    
    width: 500px;
    height: 100px;
    background-color: transparent;
    font-size: large;
    outline: 3px solid black;
    border-color: transparent;
    margin-left: -1px;
    margin-bottom: -1px;

}
button.btn:hover {
    background-color: rgb(223, 183, 183);
    transition: 0.3s;
}
.btnboxbox{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: end;
}
.lightsbox{
    display: flex;
    flex-direction: column;
}
.bigBox{
    display: flex;
}