body{
    background-image: url("https://i.imgur.com/ctSrRTe.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
#startBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    flex-wrap: wrap;
    margin-top: 150%;
}
button{
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 163, 255, 0.438);
    width: 70px;
    height: 30px;
}
p{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    background-color: rgba(163, 163, 255, 0.438);
}
#area{
    display: flex;
    justify-self: center;
    align-self: center;
}